<div class="row">
  <div class="col-lg-6" *ngFor="let car of cars">
    <div class="card">
      <img class="card-img-top" src={{car.imageUrl}} title={{car.ownerName}} alt="{{car.ownerName}}">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="/details/{{car.id}}">Make: {{car.makeName}}</a></h5>
        <p class="card-text">Model: {{car.modelName}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Owner: {{car.ownerName}}</li>
        <li class="list-group-item">Number plate: {{car.numberPlate}}</li>
        <li class="list-group-item">Engine capacity: {{car.engineCapacity}}</li>
        <li class="list-group-item">Type of color: {{car.typeOfColor}}</li>
        <li class="list-group-item">Horsepower: {{car.horsepower}}</li>
      </ul>
    </div>
  </div>
</div>